version: '3.5'

services:
  postgres:
    container_name: container-projeto-persistencia
    image: postgres
    environment:
      POSTGRES_USER: 'persist'
      POSTGRES_PASSWORD: 'persist'
      POSTGRES_DB: 'dbpersist2023_2'
    ports:
      - '5432:5432'
    volumes:
      - ./init:/docker-entrypoint-initdb.d/
  mongodb:
    container_name: mongodb
    image: mongo:latest
    volumes:
      - ~/mongo:/data/db
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: 'persist'
      MONGO_INITDB_ROOT_PASSWORD: 'persist'
      MONGO_INITDB_DATABASE: 'dbpersist2023'
